.desc {
  font-size: 14px;
  line-height: 20px;
}
.time {
  margin: 15px 0;
  font-size: 14px;
}
.box {
  margin-top: 10px;
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
